::-moz-selection{ background:$light__blue;color:white }
::selection{ background:$light__blue;color:white }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
        font-family: 'Poppins';
}